.courses-section {
  background-color: var(--sand);
  padding: 16px 16px;
}

.courses-title {
  text-align: center;
  margin: 0 0 6px 0;
}

.courses-grid {
  display: flex;
  overflow-x: auto;
  gap: 7px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.courses-grid::-webkit-scrollbar {
  display: none;
}

@media (min-width: 510px) {
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(154px, max-content));
    justify-content: center;
  }
}

@media (min-width: 745px) {
  .courses-section {
    padding: 32px;
  }
}

@media (min-width: 1024px) {
  .courses-section {
    padding: 78px;
  }
}
