body {
  margin: 0;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  color: var(--brown);
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
}

:root {
  --lavendel: #c8b8d0;
  --green: #c9d5ca;
  --light: #f5ebe4;
  --sand: #e6d5bd;
  --brown: #7a5c4d;
}
